// dark //
$--theme-dark-background: black;
$--theme-dark-background-image-text: white;
$--theme-dark-title: white;
$--theme-dark-text: white;
$--theme-dark-text-ligther: #999999;
$--theme-dark-qulification-background: white;
$--theme-dark-qulification-text: black;
$--theme-dark-project-background: white;
$--theme-dark-project-text: black;

// light //
$--theme-light-background: white;
$--theme-light-background-image-text: white;
$--theme-light-title: black;
$--theme-light-text: #4c4c4c;
$--theme-light-text-ligther: #999999;
$--theme-light-qulification-background: black;
$--theme-light-qulification-text: white;
$--theme-light-project-background: black;
$--theme-light-project-text: white;